body {background:#000;}
.slide {
 background:url(blueflower.gif) bottom right no-repeat #4f1f00;
 color:#fff;
}

h1,h2,h3 {color:#fb1;}
a { color:#ec5; }

#pagenumber {color:#000;width:42%;text-align:right;}

.ipage {
 width:100%;height:100%;margin:0;
 border:1px solid #000;
}
