/*for s5 Text Colours */
.black  {color: black;     }
.gray   {color: gray;      }
.silver {color: silver;    }
.white  {color: white;     }
.maroon {color: maroon;    }
.red    {color: red;       }
.magenta{color: magenta;   }
.fuchsia{color: fuchsia;   }
.pink   {color: pink;      }
.orange {color: darkorange;}
.pink   {color: pink;      }
.yellow {color: yellow;    }
.lime   {color: lime;      }
.teal   {color: teal;      }
.cyan   {color: cyan;      }
.aqua   {color: aqua;      }
.blue   {color: blue;      }
.navy   {color: navy;      }
.cyan   {color: cyan;      }
.purple {color: purple;    }



